<launch>


  <node name = "patt_2l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_2l_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_1X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_2r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_2r_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_1X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_3l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_3l_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_2X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_3r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_3r_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_2X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_4l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_4l_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_3X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_4r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_4r_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_3X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_5l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_5l_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_4X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_5r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_5r_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_4X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_1lu"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1lu_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_5X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_1ll"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1ll_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_5X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_1ru"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1ru_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_6X_1_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>

  <node name = "patt_1rl"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1rl_cmd" />
    <remap from = "/a11713b_cmd" to = "/a11713b_6X_2_level_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_writer.conf" />
  </node>


</launch>
