<launch>


  <node name = "hemt_2l_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single1"/>
    <remap from = "/hemt" to = "/hemt_2l_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2l_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single2"/>
    <remap from = "/hemt" to = "/hemt_2l_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2l_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single3"/>
    <remap from = "/hemt" to = "/hemt_2l_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2l_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single4"/>
    <remap from = "/hemt" to = "/hemt_2l_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single5"/>
    <remap from = "/hemt" to = "/hemt_2r_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single6"/>
    <remap from = "/hemt" to = "/hemt_2r_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single7"/>
    <remap from = "/hemt" to = "/hemt_2r_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single8"/>
    <remap from = "/hemt" to = "/hemt_2r_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single9"/>
    <remap from = "/hemt" to = "/hemt_3l_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single10"/>
    <remap from = "/hemt" to = "/hemt_3l_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single11"/>
    <remap from = "/hemt" to = "/hemt_3l_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single12"/>
    <remap from = "/hemt" to = "/hemt_3l_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single13"/>
    <remap from = "/hemt" to = "/hemt_3r_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single14"/>
    <remap from = "/hemt" to = "/hemt_3r_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single15"/>
    <remap from = "/hemt" to = "/hemt_3r_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single16"/>
    <remap from = "/hemt" to = "/hemt_3r_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single17"/>
    <remap from = "/hemt" to = "/hemt_4l_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single18"/>
    <remap from = "/hemt" to = "/hemt_4l_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single19"/>
    <remap from = "/hemt" to = "/hemt_4l_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single20"/>
    <remap from = "/hemt" to = "/hemt_4l_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single21"/>
    <remap from = "/hemt" to = "/hemt_4r_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single22"/>
    <remap from = "/hemt" to = "/hemt_4r_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single23"/>
    <remap from = "/hemt" to = "/hemt_4r_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single24"/>
    <remap from = "/hemt" to = "/hemt_4r_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single25"/>
    <remap from = "/hemt" to = "/hemt_5l_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single26"/>
    <remap from = "/hemt" to = "/hemt_5l_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single27"/>
    <remap from = "/hemt" to = "/hemt_5l_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single28"/>
    <remap from = "/hemt" to = "/hemt_5l_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single29"/>
    <remap from = "/hemt" to = "/hemt_5r_vd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vg1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single30"/>
    <remap from = "/hemt" to = "/hemt_5r_vg1" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vg2"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single31"/>
    <remap from = "/hemt" to = "/hemt_5r_vg2" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_id"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz3177" to = "/cpz3177_rsw1_single32"/>
    <remap from = "/hemt" to = "/hemt_5r_id" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>


</launch>
