<launch>


  <node name = "hemt_2l_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_5_cmd"/>
    <remap from = "/hemt" to = "/hemt_2l_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2l_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_6_cmd"/>
    <remap from = "/hemt" to = "/hemt_2l_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2l_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_7_cmd"/>
    <remap from = "/hemt" to = "/hemt_2l_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_8_cmd"/>
    <remap from = "/hemt" to = "/hemt_2r_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_9_cmd"/>
    <remap from = "/hemt" to = "/hemt_2r_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_2r_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_10_cmd"/>
    <remap from = "/hemt" to = "/hemt_2r_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_11_cmd"/>
    <remap from = "/hemt" to = "/hemt_3l_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_12_cmd"/>
    <remap from = "/hemt" to = "/hemt_3l_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3l_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_13_cmd"/>
    <remap from = "/hemt" to = "/hemt_3l_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_14_cmd"/>
    <remap from = "/hemt" to = "/hemt_3r_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_15_cmd"/>
    <remap from = "/hemt" to = "/hemt_3r_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_3r_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw0_16_cmd"/>
    <remap from = "/hemt" to = "/hemt_3r_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_5_cmd"/>
    <remap from = "/hemt" to = "/hemt_4l_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_6_cmd"/>
    <remap from = "/hemt" to = "/hemt_4l_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4l_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_7_cmd"/>
    <remap from = "/hemt" to = "/hemt_4l_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_8_cmd"/>
    <remap from = "/hemt" to = "/hemt_4r_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_9_cmd"/>
    <remap from = "/hemt" to = "/hemt_4r_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_4r_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_10_cmd"/>
    <remap from = "/hemt" to = "/hemt_4r_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_11_cmd"/>
    <remap from = "/hemt" to = "/hemt_5l_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_12_cmd"/>
    <remap from = "/hemt" to = "/hemt_5l_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5l_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_13_cmd"/>
    <remap from = "/hemt" to = "/hemt_5l_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vd_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_14_cmd"/>
    <remap from = "/hemt" to = "/hemt_5r_vd_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vg1_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_15_cmd"/>
    <remap from = "/hemt" to = "/hemt_5r_vg1_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>

  <node name = "hemt_5r_vg2_cmd"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/cpz340816" to = "/cpz340816_rsw1_16_cmd"/>
    <remap from = "/hemt" to = "/hemt_5r_vg2_cmd" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/hemt_reader.conf" />
  </node>


</launch>