<launch>


  <node name = "hemt_2l_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2l_vd"/>
    <remap from = "/web" to = "/hemt_2l_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2l_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2l_vg1"/>
    <remap from = "/web" to = "/hemt_2l_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2l_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2l_vg2"/>
    <remap from = "/web" to = "/hemt_2l_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2l_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2l_id"/>
    <remap from = "/web" to = "/hemt_2l_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2r_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2r_vd"/>
    <remap from = "/web" to = "/hemt_2r_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2r_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2r_vg1"/>
    <remap from = "/web" to = "/hemt_2r_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2r_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2r_vg2"/>
    <remap from = "/web" to = "/hemt_2r_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_2r_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_2r_id"/>
    <remap from = "/web" to = "/hemt_2r_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3l_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3l_vd"/>
    <remap from = "/web" to = "/hemt_3l_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3l_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt3l_vg1"/>
    <remap from = "/web" to = "/hemt_3l_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3l_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3l_vg2"/>
    <remap from = "/web" to = "/hemt_3l_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3l_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3l_id"/>
    <remap from = "/web" to = "/hemt_3l_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3r_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3r_vd"/>
    <remap from = "/web" to = "/hemt_3r_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3r_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3r_vg1"/>
    <remap from = "/web" to = "/hemt_3r_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3r_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3r_vg2"/>
    <remap from = "/web" to = "/hemt_3r_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_3r_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3r_id"/>
    <remap from = "/web" to = "/hemt_3r_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4l_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_3l_vd"/>
    <remap from = "/web" to = "/hemt_4l_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4l_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4l_vg1"/>
    <remap from = "/web" to = "/hemt_4l_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4l_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4l_vg2"/>
    <remap from = "/web" to = "/hemt_4l_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4l_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4l_id"/>
    <remap from = "/web" to = "/hemt_4l_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4r_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4r_vd"/>
    <remap from = "/web" to = "/hemt_4r_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4r_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4r_vg1"/>
    <remap from = "/web" to = "/hemt_4r_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4r_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4r_vg2"/>
    <remap from = "/web" to = "/hemt_4r_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_4r_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_4r_id"/>
    <remap from = "/web" to = "/hemt_4r_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5l_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5l_vd"/>
    <remap from = "/web" to = "/hemt_5l_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5l_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5l_vg1"/>
    <remap from = "/web" to = "/hemt_5l_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5l_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5l_vg2"/>
    <remap from = "/web" to = "/hemt_5l_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5l_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5l_id"/>
    <remap from = "/web" to = "/hemt_5l_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5r_vd_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5r_vd"/>
    <remap from = "/web" to = "/hemt_5r_vd_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5r_vg1_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5r_vg1"/>
    <remap from = "/web" to = "/hemt_5r_vg1_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5r_vg2_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5r_vg2"/>
    <remap from = "/web" to = "/hemt_5r_vg2_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>

  <node name = "hemt_5r_id_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/value" to = "/hemt_5r_id"/>
    <remap from = "/web" to = "/hemt_5r_id_web" />
    <param name = "rate" value = "1." />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
  </node>


</launch>
