<launch>

  <node name = "sis_vol_reader"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/cpz3177' to = '/cpz3177_1_rsw0_diff1'/>
    <remap from = '/sis_vol' to = '/sis_vol_1' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/sis_vol_reader.conf" />
	   
  </node>

</launch>