<launch>


  <node name = "patt_2l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_2l" />
    <remap from = "/a11713b" to = "/a11713b_1X_1_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_2r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_2r" />
    <remap from = "/a11713b" to = "/a11713b_1Y_1_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_3l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_3l" />
    <remap from = "/a11713b" to = "/a11713b_1X_2_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_3r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_3r" />
    <remap from = "/a11713b" to = "/a11713b_1Y_2_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_4l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_4l" />
    <remap from = "/a11713b" to = "/a11713b_1X_3_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_4r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_4r" />
    <remap from = "/a11713b" to = "/a11713b_1Y_3_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_5l"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_5l" />
    <remap from = "/a11713b" to = "/a11713b_1X_4_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_5r"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_5r" />
    <remap from = "/a11713b" to = "/a11713b_1Y_4_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_1lu"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1lu" />
    <remap from = "/a11713b" to = "/a11713b_1X_5_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_1ll"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1ll" />
    <remap from = "/a11713b" to = "/a11713b_1Y_5_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_1ru"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1ru" />
    <remap from = "/a11713b" to = "/a11713b_1X_6_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>

  <node name = "patt_1rl"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = "/patt_beam" to = "/patt_1rl" />
    <remap from = "/a11713b" to = "/a11713b_1Y_6_level" />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/a11713b_reader.conf" />
  </node>


</launch>
