<launch>

  <include file="$(find nasco_system)/launch/lakeshore218.launch" />
<!--
  <include file="$(find nasco_system)/launch/tpg261.launch" />
-->
  <include file="$(find nasco_system)/launch/ondotori.launch" />
  <include file="$(find nasco_system)/launch/power.launch" />

 <include file="$(find nasco_system)/launch/e8257d.launch" />
  <include file="$(find nasco_system)/launch/mg3692c.launch" />
<!--
<include file="$(find nasco_system)/launch/fsw0020.launch" />
-->

  <include file="$(find nasco_system)/launch/a11713b.launch" />

</launch>
