<launch>

  <node name = "xffts_power_board01_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board01_web'/>
    <remap from = '/value' to = '/xffts_power_board01s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board02_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board02_web'/>
    <remap from = '/value' to = '/xffts_power_board02s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board03_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board03_web'/>
    <remap from = '/value' to = '/xffts_power_board03s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board04_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board04_web'/>
    <remap from = '/value' to = '/xffts_power_board04s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board05_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board05_web'/>
    <remap from = '/value' to = '/xffts_power_board05s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board06_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board06_web'/>
    <remap from = '/value' to = '/xffts_power_board06s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board07_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board07_web'/>
    <remap from = '/value' to = '/xffts_power_board07s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board08_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board08_web'/>
    <remap from = '/value' to = '/xffts_power_board08s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board09_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board09_web'/>
    <remap from = '/value' to = '/xffts_power_board09s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board10_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board10_web'/>
    <remap from = '/value' to = '/xffts_power_board10s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board11_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board11_web'/>
    <remap from = '/value' to = '/xffts_power_board11s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board12_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board12_web'/>
    <remap from = '/value' to = '/xffts_power_board12s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board13_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board13_web'/>
    <remap from = '/value' to = '/xffts_power_board13s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board14_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board14_web'/>
    <remap from = '/value' to = '/xffts_power_board14s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board15_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board15_web'/>
    <remap from = '/value' to = '/xffts_power_board15s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

  <node name = "xffts_power_board16_web"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/web' to = '/xffts_power_board16_web'/>
    <remap from = '/value' to = '/xffts_power_board16s' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/web.conf" />
    <param name = "rate" value = "1." />
  </node>

</launch>